certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1610099771815/work
MarkupSafe==1.1.1
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858699142/work
networkx==2.5
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1610324545699/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
pandas==1.1.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1612816710271/work
pycairo==1.20.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
reportlab==3.5.60
requests==2.25.1
scikit-learn==0.24.1
scipy==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1612225083740/work
threadpoolctl==2.1.0
torch==1.7.1+cu110
torchaudio==0.7.2
torchvision==0.8.2+cu110
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094701020/work
tqdm==4.58.0
typing-extensions==3.7.4.3
urllib3==1.26.3
utils==1.0.1
Werkzeug==1.0.1
